<header class="mb-0">
  Food truck <%= @food_truck.id %>
</header>

<.list>
  <:item title="Address"><%= @food_truck.address %></:item>
  <:item title="Food items"><%= @food_truck.food_items %></:item>
  <:item title="Lat"><%= @food_truck.lat %></:item>
  <:item title="Lon"><%= @food_truck.lon %></:item>
  <:item title="Schedule"><%= @food_truck.schedule %></:item>
</.list>

<.back navigate={~p"/food_trucks"}>Back to food_trucks</.back>
