@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

table thead {
  color: #33ff00;
}

.leaflet-control-geosearch form {
  display: none !important;
}

.leaflet-control-geosearch.active form {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.leaflet-control-geosearch form.active {
  border: none !important;
}

.leaflet-control-geosearch form input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.leaflet-control-geosearch button.reset {
  flex-shrink: 0 !important;
  background-color: white !important;
  padding: 0.5rem 1rem !important;
  margin: 0 0 0 -1rem !important;
}

/* Position the results container */
.leaflet-control-geosearch .results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
