<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · lessthanseventy">
      <%= assigns[:page_title] || "lessthanseventy" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <style>
      :root {
          --yellow: #FFB000;
          --green: #33FF00;
          --dark: #080809;
      }
      body {
          background-color: var(--dark);
          color: var(--green);
      }
    </style>
  </head>
  <body class="h-screen font-mono bg-dark antialiased">
    <%= @inner_content %>
    <script id="__bs_script__">
      //<![CDATA[
        (function() {
          try {
            var script = document.createElement('script');
            if ('async') {
              script.async = true;
            }
            script.src = 'http://localhost:3000/browser-sync/browser-sync-client.js?v=3.0.2';
            if (document.body) {
              document.body.appendChild(script);
            } else if (document.head) {
              document.head.appendChild(script);
            }
          } catch (e) {
            console.error("Browsersync: could not append script tag", e);
          }
        })()
      //]]>
    </script>
  </body>
</html>
